.form {
  padding: 20px !important;
  border: 5px solid #b69a4d;
  margin: 20px;
  border-radius: 10%;
  background-color: #b64d87;
  color: #4db6ac;
  font-weight: bold;
}

.btn {
  background-color: #4db6ac;
}
